.home-card{
    height: 400px;
    width: 400px;
    align-self: center;
    justify-self: center;
    background: url('../../../assets/jome.png');
    background-size: cover;
    background-color: rgba($color: #FFFFFF, $alpha: 0.8);
    margin: 100px  auto;
}
body{
   
}