<div class="page-grid">
    <div class="tateti-grid">
        <div class="space" id="space-1">
            <img src="../../../../assets/lab4-tp-{{space1.img}}.svg" alt="" class="tateti-img">
        </div>
        <div class="space" id="space-2">
            <img src="../../../../assets/lab4-tp-{{space2.img}}.svg" alt="" class="tateti-img">
        </div>
        <div class="space" id="space-3">
            <img src="../../../../assets/lab4-tp-{{space3.img}}.svg" alt="" class="tateti-img">
        </div>
        <div class="space" id="space-4">
            <img src="../../../../assets/lab4-tp-{{space4.img}}.svg" alt="" class="tateti-img">
        </div>
        <div class="space" id="space-5">
            <img src="../../../../assets/lab4-tp-{{space5.img}}.svg" alt="" class="tateti-img">
        </div>
        <div class="space" id="space-6">
            <img src="../../../../assets/lab4-tp-{{space6.img}}.svg" alt="" class="tateti-img">
        </div>
        <div class="space" id="space-7">
            <img src="../../../../assets/lab4-tp-{{space7.img}}.svg" alt="" class="tateti-img">
        </div>
        <div class="space" id="space-8">
            <img src="../../../../assets/lab4-tp-{{space8.img}}.svg" alt="" class="tateti-img">
        </div>
        <div class="space" id="space-9">
            <img src="../../../../assets/lab4-tp-{{space9.img}}.svg" alt="" class="tateti-img">
        </div>
    </div>
</div>
