.page-grid{
    //background: chartreuse;
    padding-top: 20px;
    min-height: 500px;
    height: 80vh;
    width: auto;
    display: grid;
    justify-content: center;
    align-content: center;
}
.tateti-grid{
    background: url('../../../../assets/lab4-tp-tatetigrid.svg');
    display: grid;
    min-height: 400px;
    min-width: 400px;
    max-height: 90%;
    max-width: 90%;
    height: 50vh;
    width: 50vh;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    column-gap: 5%;
    row-gap: 5%;
}
.space{
    //background: red;
    border-style: none;
    height: 100%;
    width: 100%;
    display: grid;
}
.tateti-img{
    border-image: none;
    align-self: center;
    justify-self: center;
    height: 80%;
    width: 80%;
}
.mensaje-card{
    display: flex;
    justify-content: center;
}
.resultado-div{
    //background: chartreuse;
    display: flex;
    flex-direction: column;
}
.redo-button{
    align-self: center;
}