<div>
  <mat-toolbar class="grid-container main-nav-bar">
    <span class="grid-item title-span">
      <img src="../assets/cat_icon.png" class="nav-bar-image" alt="">
      <span class="nav-bar-title">Sala de Juegos</span>  
    </span>
      <mat-button-toggle class="nav-button nav-button-1" routerLink="/" routerLinkActive="active">Home</mat-button-toggle>
      <mat-button-toggle class="nav-button nav-button-2" routerLink="/juegos" routerLinkActive="active">Juegos</mat-button-toggle>
      <mat-button-toggle class="nav-button nav-button-3" routerLink="/acerca-de" routerLinkActive="active">Acerca de</mat-button-toggle>
      <mat-button-toggle class="nav-button nav-button-4" routerLink="/askjfgakf" routerLinkActive="active">Ruta mala</mat-button-toggle>
  </mat-toolbar>
</div>