.main-nav-bar{
  background: rgba($color: #fff, $alpha: 0.9);
}
.nav-bar-image{
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.nav-button{
  background: rgba($color: #fff, $alpha: 0.9);
  color: #000;
  border-top: none;
  border-right: none;
  border-color: rgba($color: #505050, $alpha: 0.3);
  border-width: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
/*.grid-container{
  background: rgba($color: #fff, $alpha: 0.9);
  display: grid;
  grid-template-columns: 300px auto auto;
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas: "title navbar navbar2 navbar3 navbar4";
  column-gap: 10px;
  row-gap: 10px;
}*/
.title-span{
  grid-area: title;
}

@media (max-width: 815px){
  .grid-container{
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "title title title title"
      "navbar navbar2 navbar3 navbar4";
  }
}
@media (max-width: 506px){
  /*.button-span{
    grid-area: navbar;
    grid-row: span 1;
    grid-column: span 4;
  }*/
  .grid-container{
    grid-template-columns: 50% 50%;
    grid-template-areas: "title title"
      "navbar navbar"
      "navbar navbar";
  }
}