.home-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5%;
    .stats-card{
        width: 80%;
        justify-self: center;
        align-self: center;
        display: flex;
        flex-direction: column;
    }
}