<div class="home-page" *ngIf="listo">

    <div class="superflex1">
        <div class="flex1">
            <app-estadistica
            juego='Anagrama'
            [estadisticas]='estadisticasAnagrama'>
        </app-estadistica>
        
        <app-estadistica
        juego='Piedra Papel Tijera'
        [estadisticas]='estadisticasPPT'>
        </app-estadistica>
        </div>

        <div class="flex2">    
            <app-estadistica
            juego='TaTeTi'
            [estadisticas]='estadisticasTaTeTi'>
        </app-estadistica>

        <app-estadistica
        juego='Adivina el numero'
        [estadisticas]='estadisticasAdivina'>
        </app-estadistica>
        </div>
    </div>
    <div class="superflex2">
        <div class="flex3">
            <app-estadistica
            juego='Agilidad aritmetica'
            [estadisticas]='estadisticasAgilidad'>
            </app-estadistica>

            <app-estadistica
            juego='Memotest'
            [estadisticas]='estadisticasMemotest'>
            </app-estadistica>
        </div>

        <div class="flex4">
            <app-estadistica
            juego='Clicker'
            [estadisticas]='estadisticasClicker'>
            </app-estadistica>
        </div>
    </div>
</div>


<!--mat-card class="home-card">
    <mat-card class="stats-card">
        <mat-card-header class="stats-header">
            <mat-card-title class="stats-nombre-juego">Anagrama</mat-card-title>
        </mat-card-header>
        <p class="stats-nombre">Partidas jugadas: </p>
        <p class="stats-valor">{{userData.anagrama_partidas}}</p>

        <p class="stats-nombre">Victorias: </p>
        <p class="stats-valor">{{userData.anagrama_victorias}}</p>
    </mat-card>
    <mat-card class="stats-card">
        <mat-card-header class="stats-header">
            <mat-card-title class="stats-nombre-juego">Adivina el Numero</mat-card-title>
        </mat-card-header>
        <p class="stats-nombre">Ultimo tiempo en facil: </p>
        <p class="stats-valor">{{ultimoFacil}}</p>
        <p class="stats-nombre">Ultimo tiempo en medio: </p>
        <p class="stats-valor">{{ultimoMedio}}</p>
        <p class="stats-nombre">Ultimo tiempo en dificil: </p>
        <p class="stats-valor">{{ultimoDificil}}</p>
    </mat-card>
    <mat-card class="stats-card">
        <mat-card-header class="stats-header">
            <mat-card-title class="stats-nombre-juego">Piedra Papel Tijera</mat-card-title>
        </mat-card-header>
            <p class="stats-nombre">Partidas jugadas: </p>
            <p class="stats-valor">{{userData.anagrama_partidas}}</p>

            <p class="stats-nombre">Victorias: </p>
            <p class="stats-valor">{{userData.anagrama_victorias}}</p>
    </mat-card>
    <mat-card class="stats-card">
        <mat-card-header class="stats-header">
            <mat-card-title class="stats-nombre-juego">TaTeTi</mat-card-title>
        </mat-card-header>
            <p class="stats-nombre">Partidas jugadas: </p>
            <p class="stats-valor">{{userData.tateti_partidas}}</p>

            <p class="stats-nombre">Victorias: </p>
            <p class="stats-valor">{{userData.tateti_victorias}}</p>
    </mat-card>
</mat-card-->