.button{
    background: rgba($color: rgb(255, 255, 255), $alpha: 1);
    color: #000;
    border-top: 1px;
    border-right: 1px;
    border-color: rgba($color: #505050, $alpha: 0.3);
    border-width: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }