<mat-card class="acerca-de-card">
    <div class="info-item-container">
        <p class="info-item">Demian J.</p>
    </div>
    <div class="foto-container">
        <img src="../../../assets/foto.png" class="foto">
    </div>
    <div class="info-item-container">
        <p class="info-item">Suarez Murray</p>
    </div>
    <div class="info-item-container">
        <p class="info-item">108.569 4A</p>
    </div>
    <div class="info-item-container">
        <p class="info-item">Juego propio: "Clicker". Tenes que hacer click rapido, no se porque pero son populares este tipo de juegos.</p>
    </div>
</mat-card>
