/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    //background-repeat: no-repeat;
    background-position: center;
    //background-image: url('./assets/fondo_espirales_chico.png');
    background-size: cover;
    display: grid;
    
}
.link-text{
    color: black;
    font-size: x-large;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
p {margin: 3px}

//test
