.juegos-sidenav{
    width: 150px;
    //display: table;
    background-image: none!important;
    background-color: transparent!important;
    background: rgba($color: #fff, $alpha: 0.9)!important;
    border: 0;
}