<div class="page-container">
<div class="form-container" *ngIf="showing">
    <form [formGroup]="loginForm">
        <div>
            <mat-form-field appearance="outline" class="registro-input">
                <mat-label>Correo</mat-label>
                <input type="text" matInput placeholder="Correo" formControlName="email" [color]="correoValido ? 'primary' : 'warn'">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="registro-input">
                <mat-label>Clave</mat-label>
                <input type="password" matInput placeholder="Clave" formControlName="pass" [color]="claveValida ? 'primary' : 'warn'">
            </mat-form-field>
        </div>
        <div class="botones">
            <button mat-raised-button class="registro-button" (click)="login()" color="primary">
                Iniciar sesión
            </button>
            <button mat-raised-button class="registro-button" (click)="limpiar()" color="warn">
                Limpiar
            </button>
            <button mat-raised-button class="registro-button" (click)=loginRapido()><mat-icon>code</mat-icon></button>
        </div>
    </form>
</div>
<mat-card class="toast-card" *ngIf="presentToast">{{toastMessage}}</mat-card>
</div>