<mat-toolbar color="">
  <img src="../assets/cat_icon.png" class="nav-bar-image" alt="">
  <span>Sala de Juegos</span>
  <a class="nav-bar-link" routerLink="/" routerLinkActive="active">Home</a>
  <a class="nav-bar-link" routerLink="/juegos" routerLinkActive="active">Juegos</a>
  <a class="nav-bar-link" routerLink="/acerca-de" routerLinkActive="active">Acerca de</a>
  <a class="nav-bar-link" routerLink="/askjfgakf" routerLinkActive="active">Ruta mala :(</a>
</mat-toolbar>
<router-outlet></router-outlet>