<!--app-nav-bar></app-nav-bar-->

<nav mat-tab-nav-bar backgroundColor="primary" class="nav-bar">
    <a mat-tab-link routerLink=""
        (click)="activeLinkChange('')"
        [active]="activeLink == ''">
        <img src="../assets/cat_icon.png" alt="cat icon" style="height: 45px; width: 45px; margin-right: 10px;">
        <label class="link-text"> Sala de Juegos</label>
    </a>
    <a mat-tab-link *ngFor="let link of links"
        routerLink="{{link.route}}"
        (click)="activeLinkChange(link.route)"
        [active]="activeLink == link.route">
        <label class="link-text">
            {{link.alias}}
        </label>
    </a>
    <button mat-stroked-button class="login-button link-text" routerLink="login" *ngIf="!sesion && !procesando">Iniciar Sesión</button>
    <button mat-stroked-button *ngIf="procesando"><mat-spinner color="accent" class="login-spinner" diameter="40"></mat-spinner></button>
    <button mat-stroked-button class="login-button link-text" (click)="cerrarSesion()" *ngIf="sesion && !procesando">Cerrar Sesión</button>
    <button mat-stroked-button class="login-button link-text" routerLink="registro">Registrarse</button>
</nav>
<router-outlet></router-outlet>