<!--app-nav-bar></app-nav-bar-->

<nav mat-tab-nav-bar backgroundColor="primary">
    <a mat-tab-link routerLink="/">
        <img src="../assets/cat_icon.png" alt="mouse icon" style="height: 45px; width: 45px; margin-right: 10px;">
        <label class="link-text"> Sala de Juegos</label>
    </a>
    <a mat-tab-link *ngFor="let link of links"
        routerLink="{{link.route}}"
        (click)="activeLink = link.route"
        [active]="activeLink == link.route">
        <label class="link-text">
            {{link.alias}}
        </label>
    </a>
</nav>
<router-outlet></router-outlet>