<mat-sidenav-container class="sidenav-cont">
    <mat-drawer-container class="drawer-cont">
        <mat-drawer mode="side" opened class="juegos-sidenav">
            <button mat-button class="side-button">Anagrama</button>
            <button mat-button class="side-button">Piedra Papel Tijera </button>
            <button mat-button class="side-button">Agilidad</button>
            <button mat-button class="side-button">Adivina</button>
            <button mat-button class="side-button">TaTeTi</button>
            <button mat-button class="side-button">Memotest</button>
            <button mat-button class="side-button">Juego</button>
        </mat-drawer>
        <mat-drawer-content class="juegos-content">
            <mat-card class="juegos-card"></mat-card>
        </mat-drawer-content>
    </mat-drawer-container>
</mat-sidenav-container>
