<div class="page-container">
<div class="form-container" *ngIf="showing">
    <div>
        <mat-form-field appearance="outline" class="registro-input">
            <mat-label>Correo</mat-label>
            <input type="text" matInput placeholder="Correo" [(ngModel)]="correo">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="registro-input">
            <mat-label>Nombre de usuario</mat-label>
            <input type="text" matInput placeholder="Nombre de usuario" [(ngModel)]="nombreUsuario">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="registro-input">
            <mat-label>Clave</mat-label>
            <input type="password" matInput placeholder="Clave" [(ngModel)]="clave">
        </mat-form-field>
    </div>
    <div class="botones">
        <button mat-raised-button class="registro-button" (click)="registro()" color="primary">
            Registrar
        </button>
        <button mat-raised-button class="registro-button" (click)="limpiar()" color="warn">
            Limpiar
        </button>
    </div>
</div>
</div>